
html,body {
  width: 100%;
  height: 100%; 
}

body.startup{
	background-position: center;
	background-image: url(header.jpg);
	background-size: cover;
	height: 100%;
  	font-family: 'Montserrat', sans-serif;
}

body.startup hr {
  margin-top: 200px;
  margin-bottom: 30px; 
}

h3{
	color: rgba(255,255,255,0.7);
}
hr{
	border-color: #db600f;
	border-width: 3px;
	width: 65px;
}
.btn {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.btn-primary{
	background-color: #db600f;
	border-radius: 200px;
	border-color: #db600f;
	padding: 1rem 2rem;
	font-weight: 700; 
}
.btn-primary:hover{
	background-color: #db600f;
	border-width:5px;
	border-color: #db600f;
	cursor: pointer;
}


